:root {
    --primary-color: rgba(238, 236, 228, 0.904);
    --secondary-color:black;
    --accent1-color:rgba(0, 102, 255, 0.721);
    --accent2-color:rgb(222, 146, 7);
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font:Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header img{
    width: 180px;
}


h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
    background-color: var(--accent2-color);
    padding: 10px;
    margin: 15px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;

}

footer a {
    display: inline-block;
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height:auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    background-color: var(--primary-color);
    padding: 2px;
    bottom: 15px;
    opacity: 0.7;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 15px;
}
