:root {
    --primary-color: rgba(255, 255, 255, 0.589);
    --secondary-color:black;
    --accent1-color:rgba(0, 102, 255, 0.721);
    --accent2-color:rgb(222, 146, 7);
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font:Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header{
    display: grid;
    grid-template-columns: 300px  1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
    margin: 1rem auto;
    border: 1px solid black;
    justify-content: center;
}

header img{
    width: 150px;
    padding: 10px;
    margin: 1px 50px;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
    background-color: var(--accent2-color);
    padding: 10px;
    margin: 15px auto;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header nav {
    display: flex;
    justify-content: space-around;
}

nav a{ 
    text-decoration: none;
    font-family: var(--body-font);
    color: var(--secondary-color);
    padding: 2px;
}

.socialmedia img {
    text-decoration: none;
    width: 45px;

}

.hero{
    position: relative;
    border: 1px solid black;
}

.hero img {
    display: block;
    width: 100%;
    height:auto;
}

h1 {
    position: absolute;
    top: 120px;
    width: 96%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    background-color: var(--primary-color);
    padding: 2px;
    bottom: 200px;
    opacity: 0.7;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 15px;
}

section {
    width: 840px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    background-color: var(--primary-color);
}

.history{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
}

.history img{
    width: 200px;
}

.adventures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content:space-around;
    align-items: center;
}

.adventures h2{
    grid-column: 1/6;
    width: 840px;
    margin: 10px 0;
}

.adventures img{
    width: 105px;
    
}

footer{
   display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
    margin: 1rem auto;
    border: 1px solid black;
    justify-content: space-around;
}

.container{
    display: grid;   
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
}

.contact-info{
    display: flex;
    flex: 1fr 2fr;
}

.tipa{
    background-color: var(--primary-color);
    flex: ri;
}
.tipa h1{
    color: black;
    background-color: var(--primary-color);
    opacity: 100%;
}
.tipo1{
    color: black;
    text-align: center;
    border: 1px solid black;
    padding: 0;
}

iframe{
    width: 360px;
    border-radius: 5%;
}
.employees{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.tipo{
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

figure{
    grid-row: 2/2;
}

.employees img{
    width: 150px;
    height: 150px;
}
 

form{
    width: 400px;
    display: grid;
}

.container{
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 20px;
    margin: 1rem;
    padding: 1rem;
}

.newsletter {
    height: 400px;
    width: 350px;
    grid-column: 1 / 2;
    border: 1px solid black;
    background-color: beige;
    border-radius: 5%;
}
