*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin:0 auto;
    width: 650px;
} 

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
    margin: 1rem;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: black;
    background: white;
}

form{
    font-family: 'Courier New', Courier, monospace;
    width: 700px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: rgba(226, 223, 223, 0.879);
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

legend{
    padding: 0.5rmen;
    color: navy;
    font-size: 1.3rem;
}

label, input, button, select, textarea{
    font-family: Arial, Helvetica, sans-serif;
}

label{
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"]{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button{
    margin: 45px 120px;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: 16px;
    font-size: 1.2rem;
}

footer{
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
    margin: 1rem .auto;
}

.form-item{ 
    display: grid;
    align-items: center;
    padding: .5rem;
}

.column1{
    display: grid;
}

.column2{
    grid-template-columns: 1fr 2fr;
    grid-column: 2/2;
}