* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    justify-content: center;
    align-items: center;
    display: flex;
}

.grid {
    background-color: #abb;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.columns-3 {
   grid-column: 1 /4;

}

.three {
    margin: .25rem;
    background-color: #abd;
}