.callout {
    max-width: 500px;
    color: white;
    background-color: rgba(25, 62, 104, 0.995);
    padding: 50px;
    border: 1px solid black;
}

.callout img {
    float: right;
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: gray;
    width: 150px;
    height: auto;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted gray;
    text-align: right;
    font-size: smaller;
}