main {
	background-color: darkblue;
    max-width: 400px;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    margin: 10px;
    padding: 15px;
    color: white;
}

img {
	float: right;
    margin: 0 0 10px 15px;
    border: 1px solid black;
    padding: 1px;
    background-color: antiquewhite;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 0;
}

cite {
	display: block;
    border-top: 1px dotted white;
    text-align: right;
    font-size: smaller;
}