body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main{
    width: 400px;
    margin: 0 auto; 
}

h1{
    width: 100%;
    text-align: center;
}

img{
    width: 100%;
    height: auto;
    box-shadow:  0px 0px 30px gray;
}

h2{
    border-bottom: 1px solid black;
}

section{
    background-color: whitesmoke;
    margin: 20px 0;
    padding: 10px;
    font-size: .9rem;
    border: 1px solid rgba(233, 236, 239, 0.968);
}

section p{
    margin: 10px;
}

footer{
    font-size: .9rem;
}