body {
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background-color: black;
    color: white;
    padding: 2px;
    text-align: center;
    font-size: large;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid black;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px;
}

section {
    width: 90%;
    margin: 20px;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: rgb(205, 205, 205);
    font-size: 1rem;
}

ul {
    margin: 10px 30px 10px 0;
}